.destinations-list{
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
    margin: 40px;
}
.card{
    max-width: fit-content;
    padding: 15px;
    border-radius: 5px;
}
.card-header img{
    border-radius: 12px;
}
.card-body{
    max-width: 200px;
    margin: 3px 0px 2px 0px;
}
.price{
    color: #2b4763;
    font-weight: bold;
    margin-bottom: 3px;
}
.card-header h3{
    color: #2b4763;
}
@media only screen and (max-width: 768px) {
    .destinations-list{
        display: flex;
        flex-direction: column;
    }
}
