*{
    text-decoration: none;
}

.navbar{
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 24px;
    padding-right: 24px;
    margin-top: 25px;
}
.navdiv{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.logo{
    font-weight: bold;
    background: linear-gradient(135deg, #002244, #3498db);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 24px;
}
li{
    list-style: none;
    display: inline-block;
}
li a{
    color: #2b4763;
    font-size: 18px;
    margin-right: 30px;
    font-weight: 500;
}
li a:hover{
    color: #1f334a;
    
}
.hamburger{
    display: none;
}
.logo-picture{
    flex-shrink: 0;
    margin-right: -245px;
    height: 50px;
}
@media only screen and (max-width: 768px) {
    .logo-picture{
        display: none;
    }
    .logo{
        font-weight: bold;
        color:  #2b4763;
        font-size: 24px;
        margin-right: 150px;
    }    
    .button{
        display: none;
    }
    .nav-links{
        display: none;
    }
    .hamburger{
        display: flex;
        color: #2b4763;
        font-size: 20px;
        cursor: pointer;
    }

}

