#Contact-section{
    max-width: 900px;
    margin: 0 auto;
}
.contact-text{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 50px;
   background: linear-gradient(to right,#0052D4 , #4364F7, #4283ce) ; 
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-align: center;
}
.contact-container{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: space-between;
}
.contact-head{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    background: linear-gradient(to right, #0052D4, #3498db); 
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
@media only screen and (max-width: 768px) {
    .image-panel img{
        display: none;
    }
    .contactform{
        margin: 30px;
    }
    .contact-text{
        margin-top: -20px;
    }
    .contactform{
        margin-top: -30px;
    }
    .form-row{
        display: flex;
        flex-direction: column;
        gap: 2px;
    
    }
   
}
