#footer{
    background: linear-gradient(to right, #1A2980, #20a3a1);
    padding: 5px;
    margin-top: 100px;

}
.footer-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 230px;
    margin: -15px auto;
}
.footer-container h1{
    font-weight: 600;
    font-size: 16px;
}
.footer-container p,li{
    color: #f1f1f1;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
    font-size: 13px;
}
.footer-container h1{
    margin-bottom: 4px;
    color: white;
}
.footer-logo{
    margin-bottom: 38px;
}
.footer-logo h1{
    font-size: 24px; 
    font-weight: 600;
}
.links ul{
    display: flex;
    flex-direction: column;
}
.Contact ul{
    display: flex;
    flex-direction: column;
}
.footer-last{
    text-align: center;
    color: #a2b8d9;
    margin-top: -15px;
}
@media only screen and (max-width: 768px) {
    #footer{
        margin-top: 40px;
    }
    .footer-container{
        padding: 15px 0px;
    }
    .footer-container{
        display: flex;
        flex-direction: column;
    }
    .links{
       display: none;
    }
    .Contact{
        margin-top: -250px;
    }
    hr{
        background-color: #333;
    }
}

